@charset "UTF-8";

#bgvid {
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

.content {
	position : absolute;
	top : 50%;
	left : 43%;
	text-transform : uppercase;
	font-size : 60px;
	white-space : nowrap;
	overflow : hidden;
	color : #254B59;
}

.content a{
	font-size : 18px;
	display : block;
	background-color : #254B59;
	text-align : center;
	padding : 5px;
	cursor : pointer;
	text-decoration:none; 
	color : #F2F2F2
}

.overlay {
	opacity:0;
}

#center:hover #bgvid {
	opacity : .5;
}

#center:hover .overlay {
	opacity : 1;
}


