@media (min-width: 768px){
	#wrappedProductType{
		display:flex;
	}
	
	#wrappedProductType li{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

#list-product-type{
	flex-direction: column;
	
}

.navbar-nav li{
	margin: 0 10px;
}

#research-button{
	background-color: transparent;
	border-radius: 0 0 40px 40px;
	border-color: rgba(0,0,0,.1);
}

#research-icon{
	fill: grey;
	width: 16px;
	height: 16px;
}

.navbar-light .navbar-nav .nav-link  {
	color: #00010D;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
	color : #B4CBD9;
}

.nav-link-active {
	text-decoration:none;
	color : #00010D;
	background-color : #B4CBD9;
	padding : 5px;
	margin-right : 5px;
	margin-left : 5px;
}

.nav-link-active:hover {
	text-decoration:none;
	color : #00010D;
}