<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Produits Admin</title>
<link rel="stylesheet" href="/css/adminProduct.css">
</head>
<body>
	
	<div layout:fragment="content">
	
		<div class="container">
		<h3 class="title">Liste des produits</h3>
			<div class="card" th:each="product : ${products}">
				<form th:action="@{/upDateProducts}" th:object="${product}" method="post" >
					<div class="card-div">
						<th:label class="card-label">Id du produit : </th:label>
						<th:label class="card-label" th:text="*{id}" name="id" ></th:label>
					</div>
					<div class="card-div">
						<th:label class="card-label">Nom du produit : </th:label>
						<input  class="card-input" th:value="*{name}" contentEditable="true" name="name"></input>
					</div>
					<div class="card-div">
						<th:label class="card-label">Prix unitiare : </th:label>
						<input  class="card-input" th:value="*{price}" contentEditable="true" name="price"></input>
					</div>
					<div class="card-div">
						<th:label class="card-label">Quantité : </th:label>
						<input class="card-input" th:value="*{quantity}" contentEditable="true" name="quantity"></input>
					</div>
					<div class="card-button-div">
					<input class="card-button" type="submit" value="Enregistrer les changements" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>