<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}">
	<head>
		<title>Panier</title>
		<link rel="stylesheet" href="/css/adminProduct.css">
	</head>
	<body>
	
		<div layout:fragment="content">
			<div class="container" id="buttons-home-admin">
				<div >
					<a id="card-button-8" class="btn btn-dark btn-sm" type="button" href="/admin/product" >Produits</a>
				</div>
				<div >
					<a id="card-button-9" class="btn btn-dark btn-sm" type="button" href="/admin/users" >Utilisateurs</a>
				</div>
			</div>
			
		</div>
	</body>
</html>
