<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Panier</title>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>

	<div layout:fragment="content">

		<div class="container mt-5 mb-5">
			<div class="d-flex justify-content-center row">
				<div class="col-md-8">
					<div class="p-2 d-flex flex-column" style="justify-content:space-beetwen">
						<h4>Panier</h4>
						<span th:if="${cart.articlesQuantity == 0}">Votre Panier est vide</span>
						<a id="lienPanier" href="/products/all">Poursuivre mes Achats</a>
					</div>
					<div th:if="${cart.articlesQuantity > 0}" id="article"
						class="d-flex flex-column p-2 bg-white "
						th:each="article, iterstat : ${articles}">
						<div id="article-info" class="d-flex flex-rox align-items-center p-2 bg-white ">
							<div id="article-photo" class="mr-1">
								<img class="rounded"
									th:src="@{'/photos/product/' + ${article.product.photos[0].path}}"
									alt="${article.product.photo[0].description}" width="70">
							</div>
							<div id="article-name"
								class="d-flex flex-row align-items-center product-details">
								<span class="font-weight-bold" th:text="${article.product.name}"></span>
							</div>
							<div id="article-unit-price"
								class="d-flex flex-row align-items-center product-details">
								<span class="text-grey">[[${#numbers.formatCurrency(article.price)}]]</span>
							</div>
							<div id="article-size"
								class="d-flex flex-row align-items-center product-details">
								<span class="text-grey">Taille :<span
									class="font-weight-bold" th:text="' ' + ${article.size.label}"></span></span>
							</div>
							<div id="article-qtte"
								class="d-flex flex-row align-items-center product-details">
								<span class="text-grey">Qtté : <span
									class="font-weight-bold" th:text="' ' + ${article.quantity}"></span></span>
							</div>
							<div id="article-price"
								class="d-flex flex-row align-items-center product-details">
								<span class="font-weight-bold">[[${#numbers.formatCurrency((article.price)*(article.quantity))}]]</span>
							</div>
							<form class="trash" th:action="@{/cart}" method="post">
								<input type="hidden" th:value="${iterstat.index}" name="index" />
  								<button type="submit" id="submitButton"><img id="trash-logo" src="/icons/trash-fill.svg" alt="trash icon"></button>
							</form>
						</div>
						<div id="custom"
							class="d-flex flex-row  align-items-center p-2 ml-5 bg-white"
							th:each="custom : ${article.customs}">
							<div id="custom-photo" class="mr-1">
								<img class="rounded"
									th:src="@{'/photos/design/' + ${custom.design.photos[0].path}}"
									alt="${custom.design.photo[0].description}" width="70">
							</div>
							<div id="design-name"
								class="d-flex flex-row align-items-center product-details">
								<span class="font-weight-bold" th:text="${custom.design.name}"></span>
							</div>
							<div id="design-location"
								class="d-flex flex-row align-items-center product-details">
								<span class="text-grey">Localisation : <span
									class="font-weight-bold"
									th:text="' ' + ${custom.productTypeLocation.location.label}"></span> </span>
							</div>
							<div id="design-price"
								class="d-flex flex-row align-items-center product-details">
								<span class="font-weight-bold">[[${#numbers.formatCurrency(custom.design.price)}]]</span>
							</div>
						</div>
						
					</div>
					<div  th:if="${cart.articlesQuantity > 0}" id="cart-end"
						class="d-flex flex-row align-items-center justify-content-space-beetwen p-2 bg-white">
						<label>Total du panier : <span>[[${#numbers.formatCurrency(total)}]]</span> </label> 
						<button class="btn btn-warning btn-block btn-lg ml-2 pay-button"
							type="button" onclick="window.location.href = '/payment';">Proceder
							au paiment</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>