<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}" 
				xmlns="http://www.w3.org/2000/svg">
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		    <title>Fiche produit</title>
		    <link rel="stylesheet" href="/css/custom.css">
		    <link rel="stylesheet" href="/css/productTypeNavBar.css">
		    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
		    
	</head>
<body>

<div layout:fragment="productTypeNavBar">
	<div id="nav-produit">
		<nav id="list-product-type" class="navbar navbar-expand-md navbar-light bg-light text-center">
			<ul id="wrappedProductType" class="navbar-nav collapse">
				<li class="nav-item active">
					<a class="nav-link" href="/products/all">Tous les produits</a>
				</li>
				<li class="nav-item active" th:each="category : ${categories}">
					<a class="nav-link" th:href="@{'/products/' + ${category.name}}" th:text="${category.name}"></a>
				</li>
			</ul>
			<button id="research-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#wrappedProductType" aria-controls="wrappedProductType" aria-expanded="false" aria-label="Toggle navigation">
				<svg id="research-icon" xmlns="http://www.w3.org/2000/svg" class="bi bi-search">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
		</nav>
	</div>
</div>
		
<div layout:fragment="content">	
			
<div class="card">
			<div id="container" class="container-fliud">
				<div class="wrapper">
					<div class="preview col-6">
						<div class="preview-thumbnail-div col-2">
						<ul class="preview-thumbnail nav nav-tabs">
						  <li th:each="photo, iterstat : ${product.photos}" th:class="${iterstat.index}== 0  ? 'active'"><a th:attr="data-target='#pic-'+(${iterstat.index}+1)" data-toggle="tab"><img th:src="@{'/photos/product/' + ${photo.path}}" th:alt="${photo.description}" /></a></li>
						</ul>
						</div>
						<div class="preview-pic tab-content col-6">
						  <div th:each="photo, iterstat : ${product.photos}" th:class="${iterstat.index}== 0  ? 'tab-pane active':'tab-pane'" th:id="'pic-'+(${iterstat.index}+1)"><img th:src="@{'/photos/product/' + ${photo.path}}" th:alt="${photo.description}" /></div>
						</div>
						
						
					</div>
					<div class="info-form d-flex flex-column">
					<div class="product-info">
						<div class="title d-flex">
						<div id="product-name" th:text="${product.name}" style="margin-right:40px"></div>
						<div id="product-price"><span>[[${#numbers.formatCurrency(product.price)}]]</span></div>
						</div>
						
							<div id="infoArticle" class="form-group">
							<div id="article-size" class="d-flex"> 
								<span style="margin-right: 10px">Taille :</span>
								<span  th:text="${article.size.label}"></span>
							</div>
							<div id="article-qtty" class="d-flex"> 
								<span style="margin-right: 10px" >Quantité :</span>
								<span th:text="${article.quantity}"></span>
							</div>
							</div>
					</div>
							<div class="catalogue d-flex flex-column">
								<p>
							  <a id ="btnCustom" class="btn btn-primary col-3" data-toggle="collapse" th:href="@{'#collapseExample'}" role="button" aria-expanded="false" aria-controls="collapseExample">
							    Catalogue des Designs
							  </a>
							</p>
							<div class="collapse" id="collapseExample">
							  <div class="card card-body" style="padding : 0">
							    <div class="custom d-flex align-items-center p-2" style="justify-content:space-between" th:each="design : ${designs}">
							        <div id="design-photo" class="col-2" style="margin-right: 10px">
							        <img class="rounded"
							             th:src="@{'/photos/design/' + ${design.photos[0].path}}"
							             alt="${design.photo[0].description}" width="70">
							        </div>
							        <div class="design-name col-4" th:text="${design.name}"></div>
							       	<div class="design-type col-4" th:text="${design.designType.label}"></div>
							    	<div class="design-price col-3"><span>[[${#numbers.formatCurrency(design.price)}]]</span></div>
							  	</div>
							  </div>
							</div>
							</div>
								<form th:action="@{/addCustomArticleToCart}" th:object="${article}" method="post">
								<div class="custom1 d-flex flex-row">
									<div class="custom1-titre"><h4 style="margin-right: 10px">Personnalisation 1 :</h4></div>
									<div class="custom1-form d-flex">
										<select name="idCustom1" class="form-control form-control-sm" style="margin-right: 10px">
											<option value=0>--Nom de la Personnalisation--</option>
											<option th:each="design : ${designs}" th:value="${design.id}" th:text="${design.name}"></option>
											<option value=0>Pas de personnalisation</option>
										</select>
										<select name="locCustom1" class="form-control form-control-sm">
											<option value=0>--Choisir Emplacment--</option>
											<option th:each="productTypeLocation : ${product.productType.productTypeLocation}" th:value="${productTypeLocation.id}" th:text="${productTypeLocation.location.label}"></option>
											<option value=0>Pas de personnalisation</option>										</select>
									</div>
								</div>
								<div class="custom2 d-flex flex-row">
									<div class="custom2-titre"><h4 style="margin-right: 10px">Personnalisation 2 :</h4></div>
									<div class="custom2-form d-flex">
										<select name="idCustom2" class="form-control form-control-sm" style="margin-right: 10px">
											<option value=0>--Nom de la Personnalisation--</option>
											<option th:each="design : ${designs}" th:value="${design.id}" th:text="${design.name}"></option>
											<option value=0>Pas de personnalisation</option>										</select>
										<select name="locCustom2" class="form-control form-control-sm">
											<option value=0>--Choisir Emplacment--</option>
											<option th:each="productTypeLocation : ${product.productType.productTypeLocation}" th:value="${productTypeLocation.id}" th:text="${productTypeLocation.location.label}"></option>
											<option value=0>Pas de personnalisation</option>
										</select>
									</div>
								</div>
								<div class="custom3 d-flex flex-row">
									<div class="custom3-titre"><h4 style="margin-right: 10px">Personnalisation 3 :</h4></div>
									<div class="custom3-form d-flex">
										<select name="idCustom3" class="form-control form-control-sm" style="margin-right: 10px">
											<option value=0>--Nom de la Personnalisation--</option>
											<option th:each="design : ${designs}" th:value="${design.id}" th:text="${design.name}"></option>
											<option value=0>Pas de personnalisation</option>
										</select>
										<select name="locCustom3" class="form-control form-control-sm">
											<option value=0>--Choisir Emplacment--</option>
											<option th:each="productTypeLocation : ${product.productType.productTypeLocation}" th:value="${productTypeLocation.id}" th:text="${productTypeLocation.location.label}"></option>
											<option value=0>Pas de personnalisation</option>										</select>
									</div>
								</div>
							<input type="hidden" th:value="${article.quantity}" th:field="*{quantity}" />
							<input type="hidden" th:value="${article.size.label}" th:field="*{size.label}" />
							<input type="hidden" th:value="${product.id}" name="idProduct" />
							<div class="button d-flex">
							<input type="submit" value="Ajouter au panier" class="btn btn-primary"/>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		</div>
	
	</body>
	
</html>