<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Mes Commandes</title>
<link rel="stylesheet" href="/css/productTypeNavBar.css">
<link rel="stylesheet" href="/css/showcase.css">
<style>
#grad1 {
    height: 200px;
background: linear-gradient(180deg, lightblue, cyan);
}
</style>
</head>
<body>
	<div layout:fragment="content">
	
	
		<div class="container">
			<div class="row">
				<h3 class="no-article" th:if="${commands.size == 0}">Aucune	commande trouv&eacute;e</h3>
	
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-8"
					th:each="command : ${commands}">
					<div class="product-grid mx-1 my-2">
						<div class="product-image">
							<p style="text-align: center">
								<u>Commande 
								pass&eacute;e le :</u><br /><span
									th:text="${#temporals.format(command.creationDate, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}" /></span>
								<br />Montant de la commande :<span class="price"
									th:text="${command.taxInPrice} + ' €'"></span><br /> <span class="orderStatus"
									th:if="${command.creationDate != null and command.shippingDate ==null}"
									style="background-color: yellow"><b>Commande en cours de
									pr&eacute;paration</b></span> <span class="orderStatus"
									th:if="${command.deliveryDate == null and command.shippingDate !=null}"
									style="background-color: DarkSeaGreen"><b>Commande en cours
									de livraison</b></span> <span class="orderStatus"
									th:if="${command.deliveryDate != null and command.ReturnDate ==null}"
									style="background-color: green; color: white;"><b>Commande livr&eacute;e</b></span> <span
									class="orderStatus"
									th:if="${command.ReturnDate != null and command.deliveryReturnDate == null}"
									style="background-color: orange"><b>Commande en cours de
									retour</b></span> <span class="orderStatus"
									th:if="${command.deliveryReturnDate}"
									style="background-color: red; color: white;"><b>Commande retourn&eacute;e</b></span>
								
							</p>
							<hr />
							<p style="text-align: center">Contenu :</p>
							<div>
								<table width="100%">
									<tr>
										<th style="text-align:left;">R&eacute;f&eacute;rence</th>
										<th style="text-align:right">Quantit&eacute;</th>
									</tr>
									<tr>
										<td><p th:each="article : ${command.articles}">
												<span style="text-align:left; margin-left:5px;" th:text="${article.product.productType.name} + ' | ' + ${article.product.name}"></span>
											</p></td>
										<td><p style="text-align:right; margin-right:5px;" th:each="article : ${command.articles}">
										<span  th:text="${article.quantity}"></span></p></td>
									</tr>
								</table>
							</div>
							<a style="text-align:center;" th:href="@{'/order/' + ${command.id}}">Voir le d&eacute;tail</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>