<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}">
	<head>
		    <title>Fiche produit</title>
		    <link rel="stylesheet" href="/css/productSheet.css">
	</head>
	<body>
		<div layout:fragment="productTypeNavBar">
			<div id="nav-produit">
				<nav id="list-product-type" class="navbar navbar-expand-md navbar-light bg-light">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/products/all">Tous les produits</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		
		<div layout:fragment="content">	
			
				<div id="product-gallery" th:each="photo : ${productPhotos}">
					<img th:src="@{'/photos/' + ${photo.path}}" alt="${photo.description}">		
				</div>

				<div id="product-main-info">
					<div id= "product-name" th:text="${product.name}"></div>
					<div id= "product-price" th:text="${product.price}"></div>
				</div>
				
			<form th:action="@{/addToCart}" th:object="${commandArticle}" method="post" th:if="${product.quantity > 0}">
	
				<div id="product-secondary-info">
					<div id= "product-description" th:text="${product.description}"></div>
					<select th:field="${commandArticle.article.size}">
						<option th:each="stock : ${product.stocks}" th:if="${stock.quantity > 0}" th:value="${stock.size.label}" th:text="${stock.size.label}"></option>
					</select>
					<input type="number" min=1 th:field="${commandArticle.quantity}">
				</div>
				
				<input type="submit" value="Ajouter au panier" class="btn btn-primary"/>
				
			</form>
			<div id= "product-sold-out" class="card-text" th:if="${product.quantity == 0}">Rupture de Stock</div>
		</div>
	</body>
</html>